*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

body{

    overflow-x:hidden;
    background:#000;

}

canvas{

    position:fixed;

    top:0;
    left:0;

    width:100vw;
    height:100vh;

}

#scroll-area{

    height:800vh;

}
.hero{

    position:fixed;

    inset:0;

    display:flex;

    flex-direction:column;

    justify-content:center;

    align-items:center;

    pointer-events:none;

    z-index:10;
    background:

    linear-gradient(

        rgba(0,0,0,.50),

        rgba(0,0,0,.75)

    );
}
.title{

    color:white;

    font-size: clamp(3rem,6vw,5.5rem);

    letter-spacing:14px;

    font-weight:900;

    text-transform:uppercase;

    transition:none;
    text-shadow:0 4px 30px rgba(0,0,0,.5);

}
.subtitle{

    color:white;

    opacity:.8;

    margin-top:20px;

    font-size:1.2rem;

    letter-spacing:2px;

}